#_16{
  border: none;
  padding: 12px 40px;
  background-color: #c47135;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
font-size: 22px;
cursor: pointer;
position: relative;
}

#_16:before{
content: "";
position: absolute;
width: 24px;
height: 24px;
top: -5px;
left: -5px;
border-top: 2px solid #c47135;
border-left: 2px solid #c47135;
transition: all .25s;
}

#_16:hover:before,
#_16:hover:after{
  height: 100%;
  width: 100%;
}

#_16:after{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #c47135;
  border-right: 2px solid #c47135;
  transition: all .25s;
  }
  
