#_17{
  text-decoration: none;
  width: 160px;
  height: 60px;
  color: black;
  border: 2px solid black;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  position: relative;
  transition: all .2s;

}

#_17:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  transition: all .8s;

}

#_17:hover:before{
  opacity: 1;
  transform: rotate(15deg);
}

#_17:hover{
color: white;
}

#_17 span{
  color: transparent;
  position: relative;
}

#_17 span:before{
content: "H";
  position:absolute;
  color: black;
  transition: all .2s;
}


#_17:hover span:before{
color: white;
font-size: 80px;
transform: translate(-65%, -10%) rotate(360deg);
}

