#_18{
  background-color: transparent;
  border: none;
  position: relative;
  width: 400px;
  height: 120px;
  text-transform: uppercase;
line-height: 120px;
text-align: center;
color: rgb(0, 0, 0);
font-size: 45px;
letter-spacing: 15px;
overflow: hidden;
}

#_18:before,
#_18:after,
#_18 span:before,
#_18 span:after{
  content: "";
  position: absolute;
  background-color: black;
  transition: all .5s;
}

#_18:before{
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
}

#_18:hover:before{
  transform: translateX(100%);
}

#_18:after{
  top: 100%;
  left: 0;
  width: 4px;
  height: 100%;
}


#_18:hover:after{
  transform: translateY(-100%);
}

#_18 span:before{
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 4px;
}

#_18:hover span:before{
  transform: translateX(-100%);
}

#_18 span:after{
  top: -100%;
  right:  0;
  width: 4px;
  height:100%;
}

#_18:hover span:after{
  transform: translateY(100%);
}