div {
  width: 150px;
  height: 150px;
  background-color: red;
  animation:moving 5s 0s infinite alternate both;
}

@keyframes moving {
  0% {
    transform: translateX(100px);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform: translate(400px,200px);
  }
}
